<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="at.ac.uniklu.mobile"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="7" />

    <application android:icon="@drawable/icon" android:label="@string/app_name" android:debuggable="true">
        
          
        <activity android:name=".PlayerEditActivity"
                  android:label="@string/app_name"
                  android:configChanges="orientation|keyboardHidden"
              	  android:screenOrientation="portrait"
              	  android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> 
        
        <activity android:name="HomeActivity"
                  android:label="@string/app_name"
                  android:configChanges="orientation|keyboardHidden"
              	  android:screenOrientation="portrait">
        </activity> 
        <activity android:name="ChallengeListActivity"
                  android:label="@string/challenges">
        </activity>      
        <activity android:name="ChallengeStartActivity"
                  android:configChanges="orientation|keyboardHidden">
        </activity>
        <activity android:name="ScoreActivity"
                  android:configChanges="keyboardHidden"
                  android:label="@string/scores">
        </activity>            
        <!--  use google maps library -->
        <uses-library android:name="com.google.android.maps" />
    </application>
    <!--  google maps needs internet access permission and access to location -->
    <uses-permission android:name="android.permission.INTERNET" />
   <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
   <uses-permission android:name="android.permission.INTERNET" />
   
</manifest>